.features-list {

}

.features__item {
  .container();

  text-align: center;

  &--blue {
    background-color: @bg-blue;
    color: white;
  }

  &--blue .features__item::first-child {
    .container();
  }

  &--gray {
    background-color: @bg-gray;
  }

  &--gray .features__item {
    border-bottom: 1px solid #d6d6d6;
  }

  &--gray .features__item:last-child {
    border-bottom: none;
  }
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.features__number {

}

.features_description {

}

.features__image img {

}
