.main-nav {
  position: relative;
  width: auto;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  display: block;
  width: 23px;
  height: 22px;
  background-image: url("../img/icon-menu.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;

    width: 29px;
    height: 4px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-nav__item a {
  display: block;
  padding: 7px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: white;
  background-color: @bg-blue;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.main-nav__item a[href] {
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media @mobile-widths-only {

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}


@media @tablet-widths {

  .main-nav .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: auto;
    display: flex;
    flex-direction: row;
  }

  .main-nav__item {
    flex-basis: 19.9219%;
    text-align: center;
  }

  .main-nav__item:nth-child(2) {
    margin-right: auto;
  }

  .main-nav__item a {
    padding: 15px;
    background-color: white;
    border: none;
    font-size: 14px;
    line-height: 26px;
    color: black;
  }

  .main-nav__item--active {
    a {
      color: #766357;
    }

    &:hover a {
      color: #604e43;
    }

    &:active a {
      color: rgba(118, 99, 87, .3);
    }
  }

  .main-nav__item a[href] {

    &:hover {
      background-color: white;
      color: @bg-blue;
    }

    &:active {
      color: rgba(0, 0, 0, .3);
    }
  }

}
