.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  padding: 30px 20px;
  padding-bottom: 35px;
  background-color: white;
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, .15);
  transform: translate(-50%; -50%);
  box-sizing: border-box;
  z-index: 1;
}

.modal-content__title {
  width: 227px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  color: black;
  margin-bottom: 27px;
}

.modal-content__text {
  width: 227px;
  margin: 0 auto;
  line-height: 24px;
}

.modal-content__close-btn {
  width: 180px;
  margin: 0;
  margin-top: 23px;
  padding: 16px 0;
  border: none;
  border-radius: 0;
  background-color: @bg-blue;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: white;
  text-align: center;
  text-transform: uppercase;

  &--success {
    width: 280px;
    margin-top: 55px;
  }
}

.modal-content--success {
  display: none;
  padding-bottom: 18px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 98px;
    z-index: -1;
    background-color: @gray-light;
  }
}

.modal-content--failure {
  display: none;
}

@media @tablet-widths {
  .modal-content {
    width: 400px;
    padding-top: 55px;
    padding-bottom: 49px;
  }

  .modal-content__title {
    width: 250px;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 40px;
  }

  .modal-content__text {
    width: 300px;
  }

  .modal-content__close-btn {
    position: relative;
    width: 272px;
    margin-top: 33px;
    font-size: 21px;

    &--success {
      width:  458px;
    }
  }

  .modal-content--success {
    width: 640px;
    padding-bottom: 45px;

    &::after {
      height: 146px;
    }

    .modal-content__title {
      width: 427px;
    }

    .modal-content__text {
      width: 425px;
      margin-bottom: 45px;
    }
  }
}
