.page-header {
  display: flex;
  flex-direction: column-reverse;
  width: auto;
  color: black;
  background-color: white;

  .visually-hidden {
    .visually-hidden();
  }
}

.page-header__logo {
  position: relative;
  width: 102px;
  margin: 0 auto;
  min-height: 56px;
  order: -1;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 102px;
    height: 83px;
    transform: translateX(-50%);
    z-index: 1;
  }
}

@media @tablet-widths {
  .page-header__logo {
    min-height: auto;
    order: 1;
  }
}

@media @desktop-widths {
  .page-header__logo {
    width: 187px;
    min-height: auto;

    img {
      width: 187px;
      height: 96px;
    }
  }
}
