.page-footer {
  width: auto;

  &__copyright-icon {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 34px;
    background-image: url("../img/logo-htmlacademy.svg");

    .visually-hidden {
      .visually-hidden();
    }
  }
}
