.review {

  &__item {
    position: relative;
    margin: 0;
    padding-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    border: none;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
  }

  &__error {
    display: none;
    margin-top: 3px;
    margin-left: 21px;
    font-size: 14px;
    line-height: 26px;
    color: #ff5c5c;
    text-align: left;
    text-transform: none;

    &--show {
      display: block;
    }
  }

  &__title {
    width: 100%;
    position: absolute;
    top: 18px;
    left: 50%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: black;
    transform: translateX(-50%);
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    line-height: 26px;
    color: #333333;
    cursor: pointer;

    &--phone,
    &--email {
      margin-left: 22px;
      margin-bottom: 8px;
    }

    &--email {
      margin-top: 12px;
    }

    &:hover .review__toggle-indicator {
      background-color: #e5e5e5;
      border-color: #e5e5e5;
    }
  }

  &__input {
    position: relative;
    width: 100%;
    padding: 12px 21px;
    margin-left: 15px;
    border: 4px solid @gray-light;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: black;

    background-color: @gray-light;

    box-sizing: border-box;

    &::placeholder {
      font-family: "PT Sans", "Arial", sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: black;
    }

    &:hover {
      border-color: #e5e5e5;
      background-color: #e5e5e5;
    }

    &:focus {
      background-color: white;
      border: 4px solid #e5e5e5;
      outline: none;
    }

    &--margin {
      margin-left: 0;

      &:last-child {
        margin-bottom: 24px;
      }
    }
  }

  &__label--radio {
    padding-top: 2px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;

    &:last-child {
      padding-top: 1px;
      margin-bottom: 24px;
    }

    &:active .review__toggle-indicator {
      background-color: rgba(51, 51, 51, .3);
      border-color: #d5d5d5;
    }
  }

  &__toggle {
    display: none;

    & + .review__toggle-indicator {
      margin-right: 24px;
      width: 22px;
      height: 22px;
      background-color: @gray-light;
      border: 17px solid @gray-light;

      svg {
        display: none;
      }
    }

    &:checked + .review__toggle-indicator svg {
      display: block;
    }

    &:active + .review__toggle-indicator {
      background-color: #d5d5d5;
      border-color: #d5d5d5;

      svg {
        display: block;
        fill: rgba(0, 0, 0, .3);
      }
    }

    &--radio + .review__toggle-indicator {
      border-radius: 50%;
    }

    &--radio:checked + .review__toggle-indicator {
      background-color: #333333;
      background-image: none;
    }
  }

  &__label--checkbox {
    margin-top: 22px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;

    &:last-child {
      padding-top: 1px;
      margin-bottom: 21px;
    }
  }

  &__textarea {
    width: 100%;
    border: 4px solid @gray-light;
    margin-top: -3px;
    padding: 17px 20px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    background-color: @gray-light;
    box-sizing: border-box;

    &::placeholder {
      font-family: "PT Sans", "Arial", sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: black;
    }

    &:hover {
      border-color: #e5e5e5;
      background-color: #e5e5e5;
    }

    &:focus {
      background-color: white;
      border-color: #e5e5e5;
      outline: none;
    }
  }

  &__btn-wrapper {
    padding: 0 20px;
    padding-top: 41px;
    padding-bottom: 45px;
  }

  &__btn {
    width: 100%;
    margin: 0 auto;

    padding: 16px 0;
    border: none;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: white;
    background-color: @bg-blue;
    text-transform: uppercase;

    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, .3);
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }

  &__note {
    display: none;
  }
}

@media @tablet-widths {
  .review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 7.8125%;

    &__title {
      width: 400px;
      position:static;
      transform: none;
      font-size: 21px;

      &--half {
        position: absolute;
        top: -6px;
        left: 0;
        text-align: left;
        transform: none;
      }
    }

    &__item {
      width: 50%;
      border-top: none;
      padding: 0;
      padding-top: 78px;

      &--evaluation {
        order: -1;
        box-sizing: border-box;
        border-right: 1px solid #dbdbdb;

        .review__toggle-indicator {
          margin-right: 20px;
        }
      }

      &--user-data {
        width: 41.2%;

        .review__label:last-child {
          margin-bottom: 0;
        }
      }

      &--contacts {
        width: 100%;
        margin-top: 69px;
        padding-top: 25px;
        margin-bottom: 29px;
        border-top: 1px solid #dbdbdb;
      }

      &--sights  {
        width: 100%;
        border-top: 1px solid #dbdbdb;
        padding-top: 9px;

        .review__toggle-indicator {
          margin-left: 11.583%;
          border-radius: 5px;
        }
      }

      &--message {
        width: 100%;
        padding-top: 62px;
        border-top: 1px solid #dbdbdb;
      }
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      &--sights {
        width: 79.9383%;
        height: 216px;
        margin: 0 auto;
        margin-bottom: 17px;
        padding-top: 11px;
        justify-content: flex-start;
        flex-direction: column;
        overflow-x: auto;
      }
    }

    &__label--phone,
    &__label--email {
      display: inline;
    }

    &__label--phone {
      order: -2;
    }

    &__error {
      order: -1;
      margin-top: 0;
    }

    &__input--margin {
      margin-bottom: 11px;
    }

    &__label--checkbox {
      width: 50%;
      box-sizing: border-box;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 11px;
    }

    &__label--radio {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__btn-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 65px;
    }

    &__btn {
      width: 50%;
      margin: 0;
    }

    &__note {
      display: block;
      font-size: 14px;
      line-height: 26px;
      color: #333333;
    }
  }
}


@media @desktop-widths {
  .review {
    width: 960px;
    margin: 0 auto;

    .visually-hidden {
      .visually-hidden();
    }

    &__item--user-data {
      width: 41.6667%;
    }

    &__item--contacts {
      margin-top: 65px;
      margin-bottom: 52px;
    }

    &__wrapper--half {
      position: relative;
      width: 400px;
      padding-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;


      &:last-child {
        width: 480px;
      }
    }

    &__label--phone,
    &__label--email {
      order: 0;
      width: auto;
      margin: 0;
      margin-right: 18px;
      align-self: center;
    }

    &__label--email {

    }

    &__error {
      display: none;
      position: absolute;
      top: 18px;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;

      &--show {
        display: inline;
      }
    }

    &__input--margin {
      width: auto;
      flex-grow: 1;
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__wrapper--sights {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;
      margin-bottom: 56px;
      overflow-x: hidden;
    }

    &__label--checkbox .review__toggle-indicator {
      margin-left: 0;
    }

    &__label--checkbox {
      width: auto;

      &:last-child {
        padding-top: 0;
        margin-bottom: 11px;
      }
    }

    &__label--bridge,
    &__label--mountain {
      order: -1;
    }

    &__item--message {

    }

    &__btn-wrapper {
      padding-bottom: 70px;
    }
  }
}
