.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-links__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-left: 6px;
  margin-bottom: 5px;
  background-color: @bg-blue;
  vertical-align: bottom;
  text-align: center;
  box-sizing: border-box;
}

.social-links__item svg {
  fill: white;
}

.social-links__item--tw {
  margin-left: 0;
}

.social-links__item:hover {
  background-color: #669ec0;
}

.social-links__item:active {
  background-color: #5496bd;

  svg {
    opacity: .3;
  }
}
