.social-links {
  font-size: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  vertical-align: top;

  li {
    display: inline-block;
    margin-left: 6px;
  }

  &__item {
    display: block;
    width: 46px;
    height: 49px;
    background-color: @bg-blue;
  }
}
