.video {

  padding-bottom: 10px;

  &__title {

    .container-inner();

    margin-bottom: 26px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  &__text {

    .container-inner();
    width: 260px;
    margin-bottom: 35px;

    line-height: 24px;
    color: #333333;
  }

  video {
    display: block;
    width: 320px;
    height: 201px;
    margin: 0 auto;
    background-image: url("../img/video-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../img/video-mobile@2x.jpg");
    }
  }
}

@media @tablet-widths {
  .video {

    &__title {
      width: auto;
      margin-bottom: 25px;
      font-size: 30px;
      line-height: 36px;
      color: black;
    }

    &__text {
      width: 440px;
      margin-bottom: 70px;
    }

    video {
      width: 648px;
      height: 499px;
      background-image: url("../img/video-tablet@1x.jpg");
      background-size: cover;

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
          background-image: url("../img/video-tablet@2x.jpg");
      }
    }
  }
}

@media @desktop-widths {
  .video {
    margin-bottom: 43px;
  }
}
