.video-controls {
  position: relative;
  width: 87.5%;
  top: -45px;
  margin: 0 auto;
  margin-bottom: -5px;
}

.video-controls__scale-controls {
  padding-top: 22px;
  height: 45px;
  background-color: rgba(0, 0, 0, .4);
  box-sizing: border-box;
}

.video-controls__scale {
  position: relative;
  width: 235px;
  height: 3px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .2);
}

.video-controls__toggle-scale {
  position: absolute;
  top: -3px;
  left: 15.32%;
  margin: 0;
  padding: 0;
  width: 9px;
  height: 9px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.video-controls__main-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 66px;
  background-color: #f2f2f2;
}

.video-controls__btn {
  padding: 0;
  margin: 0;
  border: none;
  height: 20px;
  background-color: transparent;
  box-sizing: border-box;
}

.video-controls__btn svg {
  fill: #5c6870;
}

.video-controls__btn:hover svg {
  fill: #333333;
}

.video-controls__btn:active svg {
  fill: rgba(51, 51, 51, .3);
  margin: 0;
}

.video-controls__btn--play {
  width: 16px;
}

.video-controls__btn--subtitle {
  width: 32px;
  margin-left: auto;
}



.video-controls__btn--fullscreen {
  width: 20px;
  margin-left: 28px;
}

@media @tablet-widths {
  .video-controls {
    width: 648px;
    top: -93px;
  }

  .video-controls__scale-controls {
    padding-top: 45px;
    margin-left: 0;
    background-color: transparent;
  }

  .video-controls__scale {
    width: 389px;
    margin-left: 93px;
    z-index: 2;
  }

  .video-controls__toggle-scale {
    left: 29.05%;
    z-index: 2;
  }

  .video-controls__main-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93px;
    padding-left: 35px;
    padding-right: 40px;
    background-color: rgba(0, 0, 0, .4);
    box-sizing: border-box;
  }

  .video-controls__btn {
    svg {
      fill: white;
    }

    &--fullscreen {
      margin-left: 32px;
    }
  }
}

@media @desktop-widths {
  .video-controls {
    width: 800px;
  }

  .video-controls__scale {
    width: 540px;
  }

  .video-controls__toggle-scale {
    left: 20.93%;
  }

  .video-controls__main-controls {
    width: 100%;
  }
}
